<a href="https://colab.research.google.com/github/ThuanPhong0126/PT_TK_TT/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Giới thiệu về chiếc laptop thần thánh

Cái máy tính dùng để thử nghiệm.

![](https://github.com/ThuanPhong0126/PT_TK_TT/raw/main/120556855_340737163921083_7252735473015711253_n.png)

![](https://github.com/ThuanPhong0126/PT_TK_TT/raw/main/120571441_2831192010539942_3322962260345442254_n.jpg)

##Tìm hệ số

In [83]:
import pandas as pd

In [84]:
data = pd.read_csv("https://raw.githubusercontent.com/ThuanPhong0126/PT_TK_TT/main/data%20(2).csv")

In [85]:
data.columns = ['size', 'operations']
data

     size  operations
0     566      891179
1     622     1076112
2     684     1284749
3     752     1566425
4     827     1880873
5     909     2272283
6     999     2731826
7    1098     3291095
8    1207     3968394
9    1327     4807383
10   1459     5773413
11   1604     7090250
12   1764     8564846
13   1940    10342934
14   2134    12499458
15   2347    15035283
16   2581    18251175
17   2839    21978234
18   3122    26605691
19   3434    32365208
20   3777    38733764
21   4154    47003723
22   4569    56581136
23   5025    68787851
24   5527    82650687
25   6079   100535286
26   6686   121241282
27   7354   145254879
28   8089   175542051
29   8897   212765219
30   9786   257252411
31  10764   309721382
32  11840   375138041
33  13024   451197312
34  14326   542198526
35  15758   656330114
36  17333   791448350
37  19066   953177772
38  20972  1149982718
39  23069  1381095497
40  25375  1668311904
41  27912  2005457300
42  30703  2415173943
43  33773  2906017016
44  37150  3492098967
45  40865  4201832147
46  44951  5043667010

In [86]:
import numpy as np
from sklearn.linear_model import LinearRegression
import math
from decimal import *

###Sqrt_n

In [ ]:
X = data['size'].values.reshape(-1,1)
X = X**0.5

In [ ]:
LR=LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[18873794.70698743]

In [ ]:
LR.coef_[0]

18873794.70698743

###Log_n

In [ ]:
X = data['size']
X = np.array([math.log2(i) for i in X]).reshape(-1,1)

In [ ]:
LR = LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[4.5590523e+08]

###n

In [ ]:
X = data['size'].values.reshape(-1,1)

In [ ]:
LR = LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[94312.09955961]

###nlogn

In [ ]:
X = data['size']
X = np.array([i*math.log2(i) for i in X]).reshape(-1,1)

In [ ]:
LR = LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[6221.36614891]

###n^2

In [ ]:
X =data['size'].values.reshape(-1,1)
X = X**2

In [ ]:
LR = LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[2.52157664]

###n^3

In [ ]:
X = data['size'].values.reshape(-1,1)
X = X**3

In [ ]:
LR = LinearRegression().fit(X, data['operations'])

print(LR.coef_)

[6.14658797e-05]

###2^n

In [ ]:
ns = bn['n']
hai_mu_n = []
for j in range(len(ns)-3):
  hai_mu_n.append(2**Decimal(ns[j]))

In [ ]:
hai_mu_n.append(0)
hai_mu_n.append(0)
hai_mu_n.append(0)

In [ ]:
bn['2^n'] = hai_mu_n

In [ ]:
do_lech = []
for i in range(len(ns)-3):
  do_lech.append((Decimal(hai_mu_n[i]) - Decimal(ns[i]))**2)

In [ ]:
do_lech.append(0)
do_lech.append(0)

In [ ]:
sum = 0
for i in range(len(do_lech)-2):
  sum = Decimal(sum) + Decimal(do_lech[i])

In [ ]:
do_lech.append(Decimal(sum)/(Decimal(len(do_lech)-2)))

In [ ]:
bn['2^n độ lệch'] = do_lech

###n!

In [ ]:
def GiaiThua(n):
    giai_thua = 1;
    if (n == 0 or n == 1):
        return giai_thua;
    else:
        for i in range(2, n + 1):
            giai_thua = Decimal(giai_thua) * Decimal(i);
        return giai_thua;

In [ ]:
ns = bn['n']
giai_thua_n = []
for j in range(len(ns)-3):
  giai_thua_n.append(GiaiThua(int(ns[j])))

In [ ]:
giai_thua_n.append(0)
giai_thua_n.append(0)
giai_thua_n.append(0)

In [ ]:
bn['n!'] = giai_thua_n

In [ ]:
do_lech = []
for i in range(len(ns)-3):
  do_lech.append((Decimal(giai_thua_n[i]) - Decimal(ns[i]))**2)

In [ ]:
do_lech.append(0)
do_lech.append(0)

In [ ]:
sum = 0
for i in range(len(do_lech)-2):
  sum = Decimal(sum) + Decimal(do_lech[i])

In [ ]:
do_lech.append(Decimal(sum)/(Decimal(len(do_lech)-2)))

In [ ]:
bn['n! độ lệch'] = do_lech

In [ ]:
bn.to_csv('FINAL.csv')